* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.product-card {
  display: flex;
  background-color: white;
  border-radius: 12px;
  max-width: 600px;
  overflow: hidden;
}

/* LEFT IMAGE */
.left-image {
  width: 50%;
}

.left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}

/* RIGHT CONTENT */
.product-details-right {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1rem;
}

.product-details-right h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.product-description {
  color: hsl(228, 12%, 48%);
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* PRICE */

.product-price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.actual-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: green;
}

.previous-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

/* BUTTON */
.btn-green {
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.btn-green:hover {
  background-color: green;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 600px) {
  .product-card {
    flex-direction: column;
    max-width: 350px;
  }

  .left-image,
  .product-details-right {
    width: 100%;
  }

  .left-image img {
    content: url("./image-product-mobile.jpg");
    border-radius: 12px 12px 0 0;
  }
}


.attribution { 
    font-size: 11px; text-align: center;
 }


 .attribution a { 
    color: hsl(228, 45%, 44%); 
}